
/* *{
    border:1px solid red;


} */
body{
    background-color: black;
}
.menu-bar{
    background:black;
    margin-bottom: 10px;
    }

.navbar{
    min-height:20px;
}


.nav-link{
    font-size: 30px;
    color: #9793a7;
    margin-left: 10px;
    margin-right: 10px;

}
.nav-link:hover{
    color: white;
}

.active
{
    font-weight: bold;
}

.navbar-toggler .fas
{
    color: black;
    padding:0;
    height:50px;
}

.banner{
    margin-top:0px;
    padding:0;
    position: relative;
    background-color: black;
    overflow:hidden;
    /* background:url("../Images/background-5.png"); */
}

.parallax {
    /* The image used */
    background-image: url("../Images/ambience1.jpg");
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/ambience1.jpg");


    /* Full height */
    height:100%;
    min-height: 800px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax h1{
      font-size: 120px;
      color:whitesmoke;
      transform: rotate(-5deg);
      font-family: 'Pacifico', cursive;
  }

  .bon-apetit{
      margin-top: 50px;
      margin-bottom: 120px;
  }
  
  .form-row{
      margin: 0 auto;

  }

  .contact-container{
       margin-bottom:20px;
  }

  .contact-heading
  {
    color:#9793a7;
    font-size: 1.5em;
  }

  .contact1, .contact2{
      /* margin-left:10px; */
      color: whitesmoke;

  }
  .map
  {
      padding:0;
      overflow:hidden;
  }

.thumbnail img{
    margin-bottom: 10px;
    overflow:hidden;     
    width:100%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    height:auto;
    text-align: center;
    text-decoration: none;
    margin: 15px 5px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

 .menu-container h1 { 
    display: flex; 
    flex-direction: row; 
    margin:0 10px;
    color:#9793a7;
} 
  
.menu-container h1:before, 
.menu-container h1:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid whitesmoke; 
    margin: auto; 
}